@charset "UTF-8";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  margin: 1.5rem 0 1.5rem 2rem;
}

cite,
dfn,
em,
i,
var {
  font-style: italic;
}

code, kbd, pre, samp {
  font-family: monospace, sans-serif;
}

html {
  font: normal 100% serif, sans-serif;
  hanging-punctuation: allow-end;
  hyphens: auto;
  line-height: 1.5;
  tab-size: 4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, serif;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.953125rem;
}

h2 {
  font-size: 1.5625rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.64rem;
}

ol {
  list-style-type: decimal;
}
ol > li > ol {
  list-style-type: lower-latin;
}
ol > li > ol > li > ol {
  list-style-type: lower-roman;
}
ol > li > ol > li > ol > li > ol {
  list-style-type: upper-latin;
}

ul {
  list-style-type: disc;
}
ul > li > ul {
  list-style-type: circle;
}
ul > li > ul > li > ul {
  list-style-type: square;
}
ul > li > ul > li > ul > li > ul {
  list-style-type: disc;
}

p {
  margin-bottom: 0;
  margin-top: 1.5rem;
}
p + p {
  margin-top: 0;
  text-indent: 2rem;
}

:lang(af), :lang(tr), :lang(th), :lang(pt-BR), :lang(ko), :lang(ga), :lang(ia), :lang(id), :lang(hi), :lang(fil), :lang(eo), :lang(en-US),
:lang(en-CA), :lang(zh) {
  quotes: "“" "”" "‘" "’";
}

:lang(sq), :lang(hr) {
  quotes: "„" "“" "‘" "’";
}

:lang(am), :lang(ti), :lang(rm), :lang(fr-CH),
:lang(de-CH),
:lang(it-CH), :lang(eu) {
  quotes: "«" "»" "‹" "›";
}

:lang(ar), :lang(fa), :lang(ps), :lang(ug), :lang(km), :lang(kk), :lang(hy) {
  quotes: "«" "»";
}

:lang(az), :lang(uz), :lang(uk), :lang(ru), :lang(mn) {
  quotes: "«" "»" "„" "“";
}

:lang(be), :lang(es), :lang(pt), :lang(oc), :lang(it), :lang(el), :lang(gl), :lang(ca) {
  quotes: "«" "»" "“" "”";
}

:lang(bs), :lang(sv), :lang(fi) {
  quotes: "”" "”" "’" "’";
}

:lang(bg), :lang(sr) {
  quotes: "„" "“" "’" "’";
}

:lang(zh-Hant), :lang(ja) {
  quotes: "「" "」" "『" "』";
}

:lang(cs), :lang(wen), :lang(sl), :lang(sk), :lang(lt), :lang(is), :lang(de) {
  quotes: "„" "“" "‚" "‘";
}

:lang(da) {
  quotes: "»" "«" "›" "‹";
}

:lang(nl) {
  quotes: "„" "”" "‚" "’";
}

:lang(en), :lang(cy), :lang(gd) {
  quotes: "‘" "’" "“" "”";
}

:lang(et), :lang(ka) {
  quotes: "„" "“";
}

:lang(fr) {
  quotes: "« " " »";
}

:lang(he) {
  quotes: "„" "”" "‚" "’";
}

:lang(hu) {
  quotes: "„" "”" "»" "«";
}

:lang(ko-KP), :lang(bo), :lang(tdd),
:lang(thi), :lang(khb), :lang(mn-Mong) {
  quotes: "《" "》" "〈" "〉";
}

:lang(lo), :lang(vi), :lang(lv) {
  quotes: "“" "”";
}

:lang(jbo) {
  quotes: "lu " " li’u";
}

:lang(mk) {
  quotes: "„" "“" "’" "‘";
}

:lang(no) {
  quotes: "«" "»" "‘" "’";
}

:lang(pl), :lang(ro) {
  quotes: "„" "”" "«" "»";
}

abbr {
  font-variant-caps: all-small-caps;
  font-variant-numeric: oldstyle-nums;
  font-style: normal;
  letter-spacing: 0.05em;
}
abbr:lang(ja) {
  text-transform: full-width;
}

b,
strong {
  font-weight: bold;
}