
// https://type-scale.com/
$typographic-scales: (
        minor-second: 1.067,
        major-second: 1.125,
        minor-third: 1.2,
        major-third: 1.25,
        perfect-fourth: 1.333,
        augmented-fourth: 1.414,
        perfect-fifth: 1.5,
        golden-ratio: 1.618
);

// http://retinart.net/typography/typographicscale/
$classic-typographic-scale: (6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72);
