@use "sass:math";
@use "sass:map";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  // Tempting to use on :root, but can have significant performance issue and bugs.
  // See https://css-tricks.com/almanac/properties/t/text-rendering/.
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: math.pow(map.get($typographic-scales, $typographic-scale), 3) * 1rem;
}

h2 {
  font-size: math.pow(map.get($typographic-scales, $typographic-scale), 2) * 1rem;
}

h3 {
  font-size: math.pow(map.get($typographic-scales, $typographic-scale), 1) * 1rem;
}

h4 {
  font-size: math.pow(map.get($typographic-scales, $typographic-scale), 0) * 1rem;
}

h5 {
  font-size: math.pow(map.get($typographic-scales, $typographic-scale), -1) * 1rem;
}

h6 {
  font-size: math.pow(map.get($typographic-scales, $typographic-scale), -2) * 1rem;
}



