@use "sass:map";

// https://devhints.io/css-system-font-stack (and added `serif` for when a glyph is not available in any of the `sans-serif` fonts.
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, serif !default;
$serif: serif, sans-serif !default;

$base-font-size: 100% !default;

$typographic-scale: plastic-ratio !default;

$tab-size: 4 !default;

$paragraph-text-indent: 2rem !default;

$small-caps-letter-spacing: .05em !default; // The Elements of Typographic Style (version 4.2) page 30
